body {
  background: url('/static/images/11.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}


.city .app-header {
    

    background-attachment: fixed;
    height:92vh;
    color: white;
    margin-top: -50px;
    padding-bottom: 30px !important;
  }

 h3 {
   color: white;
   margin-bottom: 10px;
   text-align: center;
}
