body {
  background: url('/static/images/111.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}


.city .app-header {
    

    background-attachment: fixed;
    height:90vh;
    color: white;
    margin-top: -50px;
    padding-bottom: 30px !important;
  }

 h3 {
   color: white;
   text-align: center;
}

.nav {
  color: white;
}

li a {
  color: white;
  padding-bottom: 30px !important;
  font-weight: bold;
  font-size: 25px;
}

a {
  color: white;
  padding-bottom: 30px !important;
  font-weight: bold;
  font-size: 50px;
}
.block {
  width: 100%;
  padding: 10px 20px;
  color: inherit;
}