{% extends 'base.html' %}
{% block content %}


  <div class=" block block-fill-height app-header ">
    
    
  </div>

  <div class="block">
    <div class="container">
      <div class="row text-center">
      
        <div class="col-md-8 col-md-offset-2">
          <h3 class="m-b-md"><strong>Car pool gets you there in minutes!</strong></h3>
          {% if request.user.is_authenticated %}
          <a href="/passenger/" class="btn btn-lg btn-success">Ride with Car Poolers</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}