{% extends 'base.html' %}
{% block content %}
<div class="stage">

  <div class=" block block-fill-height app-header ">
    <div class="block-xs-middle">
      <!-- <div class="container">
        </div> -->
      </div>
    </div>
  </div>

  <div class="block">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="m-b-md"><strong>Car pool gets you there in minutes!</strong></h3>
          {% if request.user.is_authenticated %}
          <a href="/passenger/" class="btn btn-lg btn-success">Ride with Car Poolers</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="block p-y-lg">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3><strong> Car pool Kenya</strong></h3>
          <p class="lead">Get anywhere in Nairobi faster. Your day belongs to you!.</p>
          {% if request.user.is_authenticated %}
          <a href="/driver/" class="btn btn-lg btn-primary">Join Car Pool today</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="block block-inverse app-footer">
    <div class="container">
      <div class="row m-t-md">
        <div class="col-sm-12">
          <ul class="list-inline text-center">
            <li>
              <a href="#" target="blank" rel="nofollow">
                <span class="fa fa-facebook" style="font-size:3em;"></span>
              </a>
            </li>
            <li>
              <a href="#" target="blank" rel="nofollow">
                <span class="fa fa-twitter" style="font-size:3em;"></span>
              </a>
            </li>
            <li>
              <a href="#" target="blank" rel="nofollow">
                <span class="fa fa-instagram" style="font-size:3em;"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-inline text-center">
            <li>
              <p>Terms and  conditions apply</p>
            </li>
            
            
          </ul>
          <p class="text-center m-t-md">© 2018 Car Pool</p>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}